.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: var(--width-max);
  padding: 10px;
}
.header-list {
  display: flex;
  list-style: none;
  margin-left: 10px;
  height: 50px;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  border-radius: var(--border-radius-small);
  /* text-shadow: 0 0 10px #fff; */
}
.header-link:hover {
  text-decoration: none;
  color: red;
}
.header-link.active {
  border: 2px solid red;
  color: #fff;
  background-color: red;
}

@media screen and (max-width: 1400px) {
  .container {
  }
}
