body {
  background-color: var(--color-dark-gray);
  background-image: var(--theme-default-bgimage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}
.App {
}
.wrapper {
  padding: 0 30px;
}
